<!-- Force Tailwind to build Dynamic classes. File to be deleted after generation -->
<!-- District Colos -->
<span class="bg-arcadia"></span>
<span class="bg-arles"></span>
<span class="bg-hollywood"></span>
<span class="bg-oxford"></span>
<span class="bg-petsburg"></span>
<span class="bg-purgatory"></span>
<span class="bg-silicon-valley"></span>
<span class="bg-silver-lake"></span>
<span class="bg-stratford-upon-avon"></span>
<span class="bg-tokyo"></span>