---
import "../styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/internal/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Pagoda — {title || "default"}</title>
  </head>
  <body>
    <nav class="navigation py-4 min-w-[960px]">
      <img src="/images/internal/pagoda.webp" alt="Pagoda" class="w-64 m-auto select-none pointer-events-none" />
    </nav>
    <main class="w-[960px] m-auto p-4 border-x-1 border-b-1 border-gray-800 rounded-b-md">
      <slot />
    </main>
  </body>
</html>
